<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to kangaroos -->




{% block body %}
<img id="purpleimage"src="/static/img/movie.png" alt="Purple Poster" height="800" width="1200">

<img id="ring"src="/static/img/ring.png" alt="thing" height="700" width="1200">

<h1 id=mainheader> Intermission </h1>

<p id="paragraph"> Our website is about connecting people through their <br> favorite movies.
On this website people will be able <br> to interact with the site by posting comments.<br>
Their data will mean a lot to us as we will use it to <br> create a page about
the trending movies at the moment.</p>

<p id="minilabs"> Throughout the course of the first trimester we have incorporated 3 mini labs into our website.
Mini labs are where we are given code for a project and we have to modify it to work in a certain way or to incorporate
a theoretical concept we learned.</p>

<h1 id=statement> interMISSION statement </h1>

<h1 id="contact"> Contact/About Us: </h1>

<p id="about"> <a href="/krish_abt/">Krish</a> <a href="/kamryn_abt/">Kamryn</a> <a href="/sam_abt/">Samaya</a> <a href="/div_abt/">Divya</a> </p>


    {% block background %}

        <style>
            body{
                background: #36223D;
            }


            #contact {
                position: absolute;
                left: 29%;
                top: 190%;
                font-size: 25px;
            }

            a{
                color:purple;
            }

            #about {
                position: absolute;
                left: 45%;
                top: 189.5%;
                font-size: 25px;
            }

            #purpleimage {
                padding-top: 120px;
                position: absolute;
                left: 32%;
                bottom: 7%
            }

            #minilabs {
                padding-top: 250px;
                padding-bottom: 400px;
                position: absolute;
                left: 27%;
                top: 100%;
                font-size: 25px;
            }

            #statement {
                padding-top: 250px;
                position: absolute;
                left: 34%;
                top: 87%;
                text-shadow: 4px 4px purple;
                font-size: 40px;
            }

            #paragraph {
                padding-top: 250px;
                padding-bottom: 400px;
                position: absolute;
                left: 27%;
                top: 100%;
                font-size: 25px;
            }

            #ring {
                position: absolute;
                left: 11%;
                top: 90%;
                font-size: 25px;
            }


            #mainheader {
                position: absolute;
                top: 27%;
                font-size: 120px;
                padding-top: 130px;
                position: absolute;
                left: 3%;
                text-shadow: 7px 7px purple;
                font-family: 'Ephesis';
            }

            html, body {
                background-color: #36223D
            }



        </style>
    {% endblock %}

{% endblock %}

