<!-- Extending the project layout, as this file will do minor customizations -->
{% extends "layouts/base.html" %}

<!-- Setting up variables to customize "project" details to be specific to kangaroos -->




{% block body %}
<img id="purpleimage"src="/static/img/movie.png" alt="Purple thing" height="800" width="1200">

<img id="ring"src="/static/img/ring.png" alt="thing" height="700" width="1200">

<img id="tv"src="/static/img/tv.png" alt="tv" height="1000" width="1500">

<img id="remote"src="/static/img/remote.png" alt="remote" height="400" width="600">

<p id="binary"> <a href="/binary_signed/">Binary</a>
<p id="rgb"> <a href="/rgb/">RGB</a>



    <h1 id=mainheader> Intermission </h1>

<p id="paragraph"> Our website is about connecting people through their <br> favorite movies.
On this website people will be able <br> to interact with the site by posting comments.<br>
Their data will mean a lot to us as we will use it to <br> create a page about
the trending movies at the moment.</p>

<p id="minilabs"> Throughout the course of the first <br> trimester we have incorporated 3 mini <br> labs into our website.
Mini labs <br> are where we are given code for a <br> project and we have to modify it to <br> work in a certain way or to <br> incorporate
a theoretical concept<br> we learned.</p>

<h1 id=statement> interMISSION statement </h1>

<h1 id="contact"> Contact/About Us: </h1>

<p id="about"> <a href="/krish_abt/">Krish</a> <a href="/kamryn_abt/">Kamryn</a> <a href="/sam_abt/">Samaya</a> <a href="/div_abt/">Divya</a> </p>


    {% block background %}

        <style>
            body{
                background: #36223D;
            }


            #contact {
                position: absolute;
                left: 29%;
                top: 295%;
                font-size: 25px;
            }

            a{
                color:purple;
            }

            #tv{
                position: absolute;
                right: 10%;
                top: 165%;
                font-size: 25px;
            }

            #about {
                position: absolute;
                left: 45%;
                top: 294.5%;
                font-size: 25px;
            }

            #purpleimage {
                padding-top: 120px;
                position: absolute;
                left: 32%;
                bottom: 7%
            }

            #remote {
                position: absolute;
                right: 10%;
                top: 210%;
                font-size: 25px;

            }

            #binary{
                position: absolute;
                right: 28.8%;
                top: 238%;
                font-size: 25px;
            }

            #rgb {
                position: absolute;
                right: 30%;
                top: 242%;
                font-size: 25px;

            }


            #minilabs {
                padding-top: 250px;
                padding-bottom: 400px;
                position: absolute;
                left: 25%;
                top: 195%;
                font-size: 20px;
            }

            #statement {
                padding-top: 250px;
                position: absolute;
                left: 34%;
                top: 87%;
                text-shadow: 4px 4px purple;
                font-size: 40px;
            }

            #paragraph {
                padding-top: 250px;
                padding-bottom: 400px;
                position: absolute;
                left: 23%;
                top: 100%;
                font-size: 25px;
            }

            #ring {
                position: absolute;
                left: 11%;
                top: 90%;
                font-size: 25px;
            }


            #mainheader {
                position: absolute;
                top: 27%;
                font-size: 120px;
                padding-top: 130px;
                position: absolute;
                left: 3%;
                text-shadow: 7px 7px purple;
                font-family: 'Ephesis';
            }

            html, body {
                background-color: #36223D
            }



        </style>
    {% endblock %}

{% endblock %}

