<!DOCTYPE HTML>
{% extends "layouts/layout.html" %}
{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{#<button id="button">Click Here!</button>#}

{#<i class="fa fa-thumbs-up" style="font-size:48px;color:red"></i>#}

<p>
    <input type="image" id="button" class="fa fa-thumbs-up" style="font-size:48px;color:purple" alt=" " />
    <span id="display">0</span>
</p>

<script>
    var count = 0;
    var clicked = 0;
    var button = document.getElementById("button");
    var display = document.getElementById("display");

    button.onclick = function () {
        count++;
        display.innerHTML = count;
    }

    // Flag for "now processing" or "already clicked".

    button.onclick = function () {

        while (clicked < 1) {
            count++;
            display.innerHTML = count;
            clicked++;
        }

    }



</script>

{% endblock %}