<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Minilabs" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}
    <!- Try building a new body here ->
    <h2 id="abt_header"> About Me </h2>
    <h1 id="abt_name"> Samaya </h1>
    <img id="abt_img" src="" alt=" My Picture">
    <p id="binary"><a href="/sam_binary/">Binary page</a></p>
    <p id="abt_para"> This is about me. </p>

    <style>
        body{
            background: #36223D;
        }
        #abt_header {
            text-align: center;
            padding: 15px;
            font-size: 5em;
            color: #BFABC7;
         }

        #binary {
            text-align: center;
            font-size: 2em;
        }

        #abt_name {
            text-align: center;
            padding: 15px;
            font-size: 4em;
            color: white;
        }

        #abt_para {
            text-align: center;
            font-size: 2em;
            margin-left: 500px;
            margin-right: 500px;
            border: #A56ABD solid;

        }

        #abt_img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width:5%;
        }


        #HeaderIntro{
            text-align: center;
            font-size:1.5em ;
            padding: 15px;
        }

        a {
            color: #A56ABD;
        }

        .container{
            align-self: center;
        }
    </style>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}

{% endblock %}
