<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Samaya Portfolio" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}

    <br />
    <div style="text-align:center;">
        <iframe style="border: 1px solid rgba(0, 0, 0, 0.1);" width="800" height="450" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FB8klSyDNLN3eUiG96WcD05%2FPOWAY-CUISINES" allowfullscreen></iframe>

    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}



















