<!-- Extending the predefined project layout -->
{% extends "layouts/base.html" %}

<!- This variable sets name of browser tab  -->
{% set project = "Samaya Portfolio" %}

<!- This is a replacement block for Body in base.html -->
{% block body %}

    <br />
    <div style="text-align:center;">
    <iframe src="https://drive.google.com/file/d/1YJNgDow2Tk3hyk6Gx2MkIUvR_5p_2Ti1/preview" width="1000" height="730" allow="autoplay"></iframe>
    </body>
    </html>


    </div>
{% endblock %}

<!- This is turning off birds background from base.html -->
{% block background %}
{% endblock %}



















